<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.system.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="cn.daenx.system.domain.po.SysDept">
    <!--@mbg.generated-->
    <!--@Table sys_dept-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="summary" jdbcType="LONGVARCHAR" property="summary" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="leader_user_id" jdbcType="VARCHAR" property="leaderUserId" />
    <result column="dept_level" jdbcType="INTEGER" property="deptLevel" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `name`, `code`, summary, `status`, leader_user_id, `dept_level`, sort, remark,
    create_id, create_time, update_id, update_time, is_delete
  </sql>

  <select id="getDeptListByRoleId" resultType="cn.daenx.system.domain.po.SysDept">
    SELECT
      sd.*
    FROM
      sys_dept sd
        LEFT JOIN sys_role_dept srd ON sd.id = srd.dept_id
    WHERE
      sd.is_delete = 0
      AND srd.role_id = #{roleId}
    ORDER BY
      sd.parent_id,
      sd.sort
  </select>
  <resultMap id="deptMap" type="cn.daenx.system.domain.po.SysDept">
    <result column="id" jdbcType="VARCHAR" property="id"/>
    <result column="leader_user_id" jdbcType="VARCHAR" property="leaderUserId"/>
    <association property="leaderUser"
                 column="leader_user_id"
                 javaType="cn.daenx.system.domain.dto.LeaderUserDto"
                 select="queryUser"/>
  </resultMap>
  <select id="queryUser" resultType="cn.daenx.system.domain.dto.LeaderUserDto">
    SELECT su.*,
           sud.nick_name,
           sud.real_name,
           sud.age,
           sud.sex,
           sud.profile,
           sud.user_sign,
           sud.avatar,
           sud.money,
           su1.username AS createName,
           su2.username AS updateName
    FROM sys_user su
           LEFT JOIN sys_user_detail sud ON sud.user_id = su.id
           LEFT JOIN sys_user su1 ON su1.id = su.create_id
           LEFT JOIN sys_user su2 ON su2.id = su.update_id
    WHERE su.id = #{leaderUserId}
  </select>
  <select id="selectListX" resultMap="deptMap">
    SELECT sd.*
    FROM sys_dept sd
    ${ew.customSqlSegment}
    </select>
</mapper>
