<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.myadmin.system.mapper.SysJobMapper">
  <resultMap id="BaseResultMap" type="cn.daenx.myadmin.system.domain.po.SysJob">
    <!--@mbg.generated-->
    <!--@Table sys_job-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_group" jdbcType="VARCHAR" property="jobGroup" />
    <result column="invoke_target" jdbcType="VARCHAR" property="invokeTarget" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="misfire_policy" jdbcType="VARCHAR" property="misfirePolicy" />
    <result column="concurrent" jdbcType="VARCHAR" property="concurrent" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="notify_channel" jdbcType="VARCHAR" property="notifyChannel" />
    <result column="notify_objs" jdbcType="VARCHAR" property="notifyObjs" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, job_name, job_group, invoke_target, cron_expression, `status`, misfire_policy,
    concurrent, remark, notify_channel, notify_objs, create_id, create_time, update_id, update_time, is_delete
  </sql>
</mapper>
