<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.myadmin.system.mapper.SysLogOperMapper">
  <resultMap id="BaseResultMap" type="cn.daenx.myadmin.system.domain.po.SysLogOper">
    <!--@mbg.generated-->
    <!--@Table sys_log_oper-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="request_type" jdbcType="VARCHAR" property="requestType" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="request_location" jdbcType="VARCHAR" property="requestLocation" />
    <result column="request_params" jdbcType="LONGVARCHAR" property="requestParams" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="response_result" jdbcType="LONGVARCHAR" property="responseResult" />
    <result column="response_time" jdbcType="TIMESTAMP" property="responseTime" />
    <result column="error_msg" jdbcType="LONGVARCHAR" property="errorMsg" />
    <result column="execute_time" jdbcType="VARCHAR" property="executeTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `type`, `method`, request_type, request_url, request_ip, request_location,
    request_params, request_time, response_result, response_time, error_msg, execute_time,
    `status`, remark, create_id, create_time, update_id, update_time, is_delete
  </sql>
</mapper>
