<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.system.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="cn.daenx.system.domain.po.SysMenu">
    <!--@mbg.generated-->
    <!--@Table sys_menu-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="query_param" jdbcType="VARCHAR" property="queryParam" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="visible" jdbcType="INTEGER" property="visible" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="menu_type" jdbcType="INTEGER" property="menuType" />
    <result column="is_frame" jdbcType="INTEGER" property="isFrame" />
    <result column="is_cache" jdbcType="INTEGER" property="isCache" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `menu_name`, order_num, `path`, query_param, component, perms, icon, visible,
    `status`, `menu_type`, is_frame, is_cache, remark, create_id, create_time, update_id,
    update_time, is_delete
  </sql>

  <select id="getMenuPermsByRoleId" resultType="java.lang.String">
    SELECT DISTINCT
      sm.perms
    FROM
      sys_menu sm
        LEFT JOIN sys_role_menu srm ON sm.id = srm.menu_id
    WHERE
      sm.is_delete = 0
      AND sm.STATUS = '0'
      AND srm.role_id = #{roleId}
    </select>

  <select id="getMenuPermsByUserId" resultType="java.lang.String">
    SELECT DISTINCT
      sm.perms
    FROM
      sys_menu sm
        LEFT JOIN sys_role_menu srm ON sm.id = srm.menu_id
        LEFT JOIN sys_role_user sru ON srm.role_id = sru.role_id
        LEFT JOIN sys_role sr ON sr.id = sru.role_id
    WHERE
      sm.STATUS = '0'
      AND sm.is_delete = 0
      AND sr.STATUS = '0'
      AND sr.is_delete = 0
      AND sru.user_id = #{userId}
  </select>

  <select id="getMenuTreeByUserId" resultType="cn.daenx.system.domain.po.SysMenu">
      SELECT DISTINCT sm.id,
                      sm.parent_id,
                      sm.menu_name,
                      sm.path,
                      sm.component,
                      sm.query_param,
                      sm.visible,
                      sm.status,
                      sm.perms,
                      sm.is_frame,
                      sm.is_cache,
                      sm.menu_type,
                      sm.icon,
                      sm.order_num,
                      sm.create_time
      FROM sys_menu sm
               LEFT JOIN sys_role_menu srm ON sm.id = srm.menu_id
               LEFT JOIN sys_role_user sru ON srm.role_id = sru.role_id
               LEFT JOIN sys_role sr ON sru.role_id = sr.id
               LEFT JOIN sys_user su ON sru.user_id = su.id
      WHERE su.id = #{userId}
        AND sm.menu_type IN ('1', '2')
        AND sm.STATUS = '0'
        AND sr.STATUS = '0'
      ORDER BY sm.parent_id,
               sm.order_num
  </select>

  <select id="getMenuList" resultType="cn.daenx.system.domain.po.SysMenu">
      SELECT DISTINCT sm.id,
                      sm.parent_id,
                      sm.menu_name,
                      sm.path,
                      sm.component,
                      sm.query_param,
                      sm.visible,
                      sm.status,
                      sm.perms,
                      sm.is_frame,
                      sm.is_cache,
                      sm.menu_type,
                      sm.icon,
                      sm.order_num,
                      sm.create_time
      FROM sys_menu sm
               LEFT JOIN sys_role_menu srm ON sm.id = srm.menu_id
               LEFT JOIN sys_role_user sru ON srm.role_id = sru.role_id
               LEFT JOIN sys_role sr ON sru.role_id = sr.id
      ${ew.getCustomSqlSegment}
    </select>

  <select id="getMenuListByRoleId" resultType="cn.daenx.system.domain.po.SysMenu">
      SELECT
          sm.*
      FROM
          sys_menu sm
              LEFT JOIN sys_role_menu srm ON sm.id = srm.menu_id
      WHERE
          sm.is_delete = 0
        AND srm.role_id = #{roleId}
          <if test="menuCheckStrictly">
            AND sm.id NOT IN ( SELECT sm2.parent_id FROM sys_menu sm2 INNER JOIN sys_role_menu srm ON sm2.id = srm.menu_id AND srm.role_id = #{roleId} )
          </if>
      ORDER BY
          sm.parent_id,
          sm.order_num
    </select>
</mapper>
