<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.myadmin.system.mapper.SysPositionUserMapper">
  <resultMap id="BaseResultMap" type="cn.daenx.myadmin.system.po.SysPositionUser">
    <!--@mbg.generated-->
    <!--@Table sys_position_user-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="position_id" jdbcType="VARCHAR" property="positionId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, position_id, user_id
  </sql>
</mapper>