<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.modules.system.mapper.SysRoleUserMapper">
  <resultMap id="BaseResultMap" type="cn.daenx.modules.system.domain.po.SysRoleUser">
    <!--@mbg.generated-->
    <!--@Table sys_role_user-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, user_id
  </sql>
</mapper>
