<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.myadmin.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="cn.daenx.myadmin.system.domain.po.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="api_key" jdbcType="VARCHAR" property="apiKey"/>
        <result column="ban_to_time" jdbcType="TIMESTAMP" property="banToTime"/>
        <result column="expire_to_time" jdbcType="TIMESTAMP" property="expireToTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="VARCHAR" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        dept_id,
        username,
        `password`,
        `status`,
        phone,
        email,
        open_id,
        api_key,
        ban_to_time,
        expire_to_time,
        remark,
        user_type,
        create_id,
        create_time,
        update_id,
        update_time,
        is_delete
    </sql>
    <sql id="userInfo">
        SELECT su.*,
               sud.nick_name,
               sud.real_name,
               sud.age,
               sud.sex,
               sud.`profile`,
               sud.user_sign,
               sf.file_url                  AS avatar,
               sud.money,
               sd.`name`                    AS deptName,
               su1.username                 AS createName,
               su2.username                 AS updateName,
               IF(su.id = '1', TRUE, FALSE) as admin
        FROM sys_user su
                 LEFT JOIN sys_user_detail sud ON sud.user_id = su.id
                 LEFT JOIN sys_dept sd ON sd.id = su.dept_id
                 LEFT JOIN sys_user su1 ON su1.id = su.create_id
                 LEFT JOIN sys_user su2 ON su2.id = su.update_id
                 LEFT JOIN sys_file sf ON sf.id = sud.avatar
    </sql>
    <select id="getUserInfoByUserId" resultMap="userInfoMap">
        <include refid="userInfo">
        </include>
        ${ew.customSqlSegment}
    </select>

    <resultMap id="userInfoMap" type="cn.daenx.myadmin.system.domain.dto.SysUserPageDto">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <collection property="roles" column="id" select="queryUserRoles"></collection>
        <collection property="positions" column="id" select="queryUserPositions"></collection>
    </resultMap>
    <select id="queryUserRoles" resultType="cn.daenx.myadmin.system.domain.po.SysRole">
        SELECT sr.*
        FROM sys_role_user sru
                 LEFT JOIN sys_role sr ON sru.role_id = sr.id
        WHERE sru.user_id = #{id}
    </select>
    <select id="queryUserPositions" resultType="cn.daenx.myadmin.system.domain.po.SysPosition">
        SELECT sp.*
        FROM sys_position_user spu
                 LEFT JOIN sys_position sp ON spu.position_id = sp.id
        WHERE spu.user_id = #{id}
    </select>

    <select id="getPageWrapper" resultType="cn.daenx.myadmin.system.domain.dto.SysUserPageDto">
        <include refid="userInfo">
        </include>
        ${ew.customSqlSegment}
    </select>

    <select id="getInfo" resultMap="userInfoMap">
        <include refid="userInfo">
        </include>
        ${ew.customSqlSegment}
    </select>

    <select id="getUserList" resultType="cn.daenx.myadmin.system.domain.po.SysUser">
        SELECT su.*
        FROM sys_user su
        ${ew.customSqlSegment}
    </select>

    <select id="getAll" resultType="cn.daenx.myadmin.system.domain.dto.SysUserPageDto">
        <include refid="userInfo">
        </include>
        ${ew.customSqlSegment}
    </select>
</mapper>
