<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.myadmin.system.mapper.SysUserDetailMapper">
  <resultMap id="BaseResultMap" type="cn.daenx.myadmin.system.po.SysUserDetail">
    <!--@mbg.generated-->
    <!--@Table sys_user_detail-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="profile" jdbcType="LONGVARCHAR" property="profile" />
    <result column="user_sign" jdbcType="VARCHAR" property="userSign" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, nick_name, real_name, age, sex, profile, user_sign, avatar, create_id, 
    create_time, update_id, update_time, is_delete
  </sql>
</mapper>